@import "tailwindcss";

@theme {
  --color-primary: #e8304f;
  --color-background-light: #f8f6f6;
  --color-background-dark: #211114;
  --color-cream: #fdfaf7;
  --color-blush: #f3e7e9;
  --color-soft-taupe: #974e5a;
  --font-family-display: Manrope, sans-serif;
}

body {
  font-family: "Manrope", sans-serif;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e8304f33;
  border-radius: 10px;
}

/* Hero gradient */
.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(248, 246, 246, 0.4),
    rgba(248, 246, 246, 1)
  );
}

/* Zoom container */
.zoom-container:hover img {
  transform: scale(1.05);
}

/* Artwork card hover */
.artwork-card:hover .quick-view-overlay {
  opacity: 1;
}

/* Form input focus */
.form-input-focus:focus {
  border-color: #e8304f;
  box-shadow: 0 0 0 1px #e8304f;
}

/* Material symbols */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
